apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-deployment
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      imagePullSecrets:
        - name: regcred   # requis uniquement si image privée
      containers:
        - name: spring-app
          image: manef99/student-management:1.0.0-59
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

          # ✅ Injection PROPRE et correcte
          envFrom:
            - configMapRef:
                name: spring-config
            - secretRef:
                name: spring-secret

---
apiVersion: v1
kind: Service
metadata:
  name: spring-service
  namespace: devops
spec:
  type: NodePort
  selector:
    app: spring-app
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
