apiVersion: apps/v1
kind: Deployment
metadata:
  name: angular-deployment
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: angular-app
  template:
    metadata:
      labels:
        app: angular-app
    spec:
      containers:
        - name: angular
          image: __FRONTEND_IMAGE__
          imagePullPolicy: Always
          ports:
            - containerPort: 80
